#ifndef CONFIG_H_
#define CONFIG_H_

#include "version.h"


#define WIFI_RADIO_DEBUG 0
#define WIFI_RADIO_AUTOREBOOT 0


#define WIFI_SSID test
#define WIFI_PASSWORD test1234


#define WIFI_RADIO_CONSOLE_BANNER \
    "\n __          __ _  ______  _   _____             _  _        \n" \
    " \\ \\        / /(_)|  ____|(_) |  __ \\           | |(_)       \n" \
    "  \\ \\  /\\  / /  _ | |__    _  | |__) | __ _   __| | _   ___  \n" \
    "   \\ \\/  \\/ /  | ||  __|  | | |  _  / / _` | / _` || | / _ \\ \n" \
    "    \\  /\\  /   | || |     | | | | \\ \\| (_| || (_| || || (_) |\n" \
    "     \\/  \\/    |_||_|     |_| |_|  \\_\\\\__,_| \\__,_||_| \\___/ \n" \
    "\n" \
    "Version: " WIFI_RADIO_VERSION ", Build date: " __DATE__ " " __TIME__  "\n" \
    "\n"


#endif  // CONFIG_H_
