import { TrackDefinition } from "./TrackDefinition";

export type ServerConfig = {
  port: number;
  tracks: TrackDefinition[];
  chunkSize: number;
  sampleRate: number;
};

const serverConfig: ServerConfig = {
  port: 20343,
  tracks: [
    new TrackDefinition("./music/file1.wav"),
    new TrackDefinition("./music/file2.wav"),
    new TrackDefinition("./music/file3.wav"),
    new TrackDefinition("./music/file4.wav"),
  ],
  chunkSize: 20000,
  sampleRate: 20000,
};

export { serverConfig };
